@use '../abstracts/' as *;

.atm__card--front {
  background: url(/images/bg-card-front.png);
  @include bg-format;
  position: absolute;
  top: 8rem;
  left: 8rem;

  &-content {
    @include flex-vertical;
    // border: 1px solid red;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    // height: 100%;

    &-top {
      @include dflexcomp;
      width: 15%;

      .big-circle {
        background-color: $white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      .small-circle {
        border: 1px solid $white;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }

    &-middle {
      margin-top: 4.5rem;
      @include dflexhalf;
      // gap: 1.2rem;
      color: $white;
      // border: 1px solid red;

      & p {
        font-size: 2.4rem;
        letter-spacing: 1px;
        // border: 1px solid blue;
        flex-basis: 25%;
      }
    }

    &-bottom {
      @include dflexcomp;
      margin-top: 2.5rem;
      color: $white;
      // border: 1px solid blue;

      & p {
        text-transform: uppercase;
      }
    }
  }
}

.atm__card--back{
  background: url(/images/bg-card-back.png);
  @include bg-format;
  position: absolute;
  top: 30rem;
  left: 10rem;
} 