@use '../abstracts/' as *;

.atm__card{
    position: absolute;
}

.atm__card--front{
    background: url(/images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 33rem;
    height: 33rem;
    // width: 90%;
    top: 8rem;
    left: 8rem;
    // border: 1px solid red;

}