@use '../abstracts' as *;
.body__flex {
  display: flex;
  height: 100vh;

  .gradient__left {
    flex-basis: 40%;
    border: 1px solid red;
    background: linear-gradient($linear-gradient);
  }

  .white__right {
    flex-basis: 60%;
    background-color: white;
    border: 1px solid black;
  }
}
