@use "../abstracts/" as *;

.cardholder__content--button{
    @include btn-basic;
    background-color: $very-dark-g-violet;
    color: $white;
    margin-top: 3rem;
}

.thank-you-button{
    background-color: $very-dark-g-violet;
    color: $white;
    @include btn-basic;
}