@use '../abstracts/' as *;

.cardholder__container {
  @include center-vertical-horizontal;

  label {
    font-size: 0.8rem;
    font-weight: 700;
    color: $very-dark-g-violet;
    text-transform: uppercase;
  }

  form {
    // border: 1px solid black;

    .cardholder__content {
      @include flex-vertical;
      gap: 0.7rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    input {
      padding: 0.9rem 1rem;
      outline: none;
      border: 1px solid $light-g-violet;
      border-radius: 0.4rem;
      position: relative;
      z-index: 1;

      &:focus {
        border: 1px solid $linear-gradient;
      }

      &::placeholder {
        color: $dark-g-violet;
        font-size: 1.1rem;
      }
    }
  }
}

.cardholder__expiry--flex {
  border: 1px solid black;

  .card__date--flex {
    border: 1px solid red;
    display: flex;

    .card__date {
      display: flex;
      flex-direction: column;
    }
  }
}
