@use '../abstracts/' as *;

.cardholder__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  label {
    font-size: 0.8rem;
    font-weight: 700;
    color: $very-dark-g-violet;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  form{
    border: 1px solid black;

    .cardholder__content--name{
        display: flex;
        flex-direction: column;
    }
    
    .cardholder__content--number{
        display: flex;
        flex-direction: column;
    }

    .cardholder__content--date{
        display: flex;
        flex-direction: column;
    }
  }
}

.cardholder__expiry--flex{
    border: 1px solid black;

    .card__date--flex{
        border: 1px solid red;
        display: flex;

        .card__date{
            display: flex;
            flex-direction: column;
        }
    }
}
