@use "../abstracts/" as *;

.hidden {
  display: none;
}

.mobile {
  display: none;
  @include mq(640px) {
    display: block;
    width: 100%;
    position: relative;
  }
}

.desktop {
  @include mq(640px) {
    display: none;
  }
}
