@use "../abstracts/" as *;

.hidden {
  visibility: hidden;
}

// .mobile {
//   display: none;
//   @include mq(land-phone) {
//     display: block;
//   }
// }

// .desktop {
//   @include mq(land-phone) {
//     display: none;
//   }
// }

.special-hidden{
  display: none;
}

.not-active{
  display: none;

  @include mq(land-phone){
    display: block;
  }
}

.active{
  display: block;

  @include mq(land-phone){
    display: none;
  }
}