@use '../abstracts/' as *;

.thank-you-div {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: 25%;

  img {
    width: 35%;
  }

  h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 450;
    color: $very-dark-g-violet;
  }

  p {
    color: $dark-g-violet;
    font-size: 1.2rem;
  }
}
