// COLORS
$white: hsl(0, 0%, 100%);
$black: black;
$light-g-violet: hsl(270, 3%, 87%);
$dark-g-violet: hsl(279, 6%, 55%);
$very-dark-g-violet: hsl(278, 68%, 11%);
$error-red: hsl(0, 100%, 66%);
$linear-gradient:  hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$linear-gradient2: hsl(278, 68%, 11%) 10%, hsl(278, 94%, 30%), hsl(0, 100%, 66%);
// $light-g-violet: red;

// TYPOGRAPHY
$p-size: 1.6rem;
